*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body{
	background-color: #ece8e5;
}

#calculator {
	width: 325px;
	height: auto;

	margin: 100px auto;
	padding: 20px;

	background: linear-gradient(#747474, #4f4f4f);
	border-radius: 3px;
}

.keys{
	overflow:hidden;
}

button:hover{
	animation-name: fade;
	animation-duration: 200ms;
	background-color:#3a9cff;
}

@keyframes fade{
	from{background-color:#ffffff ;}
	to{background-color: #3a9cff;}
}

.keys button{
	float: left;

	width:60px;
	height: 40px;
	border-radius:;
}

