*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

#calculator {
	width: 325px;
	height: auto;

	margin: 100px auto;
	padding: 20px;

	background: linear-gradient(#9dd2ea, #8bceec);
	border-radius: 3px;
}

.keys{
	overflow:hidden;
}

.keys button{
	float: left;

	width:60px;
	height: 40px;

	background: white;
	border-radius:3px;
}

